.DS_Store
.idea
/packages/*/test-app/test-results/.last-run.json
/packages/svelte/test-app/vite.config.js.timestamp-*.mjs
/playwright-report
/test-results
node_modules

/packages/angular/.angular
/packages/angular/**/dist/

/packages/angular/test-app/dist-ssr/
/packages/angular/test-app/**/.angular/

/playgrounds/angular/.angular
/playgrounds/angular/bootstrap/angular-ssr
/playgrounds/angular/bootstrap/cache/*.php
/playgrounds/angular/bootstrap/ssr
/playgrounds/angular/database/*.sqlite*
/playgrounds/angular/public/build
/playgrounds/angular/public/hot
/playgrounds/angular/public/storage
/playgrounds/angular/storage/*.key
/playgrounds/angular/storage/framework/cache/**
/playgrounds/angular/storage/framework/sessions/*
/playgrounds/angular/storage/framework/testing/*
/playgrounds/angular/storage/framework/views/*
/playgrounds/angular/storage/logs/*
!/playgrounds/angular/storage/**/.gitignore
/playgrounds/angular/test-results
/playgrounds/angular/vendor
/playgrounds/angular/**/.env
/playgrounds/angular/**/.env.backup
/playgrounds/angular/**/.env.production
/playgrounds/angular/**/.phpunit.result.cache
/playgrounds/angular/**/Homestead.json
/playgrounds/angular/**/Homestead.yaml
/playgrounds/angular/**/auth.json
/playgrounds/angular/**/npm-debug.log
/playgrounds/angular/**/yarn-error.log
/playgrounds/angular/.fleet
/playgrounds/angular/.vscode
